.container
  .row
    %h1 #{current_user.username}'s profile
    %p= "Welcome to your To-Do app profile page! From here you can view and update your current to-do list items!"
  
  .row
    %h3 Add To-Do Items
    = render 'items/form'
  
  .row
    %h3 Current To-Do Items
    = render partial: 'items/item', collection: @items